.square-div {
    display: inline-block;
}

#reset {
    height: 40px;
    width: 150px;
    font-size: 24px;
}

.button {
    width: auto;
    text-align: center;
    padding: 0 0 10px 0 ;
}

body {
    line-height: 0px;